/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *= require animate

 h1 {
   font-family: 'Satisfy', cursive;

 }

#user-form {
  color: black;
}
 #landing-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(/assets/flowers.jpeg);
  background-size: cover;
  position: relative;
  margin-top: -20px;
}

.header-title {
  text-align: center;
  color: white;
  background-position: center;
  padding: 10% 0;

    font-family: 'Satisfy', cursive;
}

.header-title-hgroup {
  border: 1px solid white;
  border-radius: 25px;
  display: inline-block;
  padding: 0.3em 1em 0.5em 1em;
}

.logo {
  font-family: logo;
  font-size: 9rem;
  text-shadow: 1px 2px 4px #000000;
}

.tag-line {
   font: satisfy;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 1px 2px 2px #000000;
  /*background-color: rgba(192,192,192,0.7);*/
}