body{
    color: white;
    background-color: #EDF4F5;

}

 label {
  color: #789A9F;
  font-family: 'Open Sans', sans-serif;
 }

 a{
    color: white;
 }

#user_avatar{
    color: #789A9F;
}
h2{
    text-align: center;
    color: #054950;
    font-family: 'Satisfy', cursive;
    text-shadow: 1px 1px 2px grey;
}
h3 {
  text-align: center;
  color: #054950;
  font-family: 'Satisfy', cursive;
}
h4{
    color: #054950;
}
p{
    color: gray;
    font-family: 'Open Sans', sans-serif;
}
ul{
    min-width: 10px !important;
}
.dropdown{
    background-color: white;
}

.navbar {
    background-color: #054950 !important;
}
#btn-donate{
    background-color: #F78F1E;
    border-color: #F78F1E;

}

#about-page{
    text-align: center;
}
#tagline {
  text-align: center;
  color: #789A9F;

}
#charity-div0, {
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    border: black;
    opacity: 0.8;
    box-shadow: 10px 10px 5px grey;

}
#image{
    display: block;
    margin-left: auto;
    margin-right: auto 
    
}
#charity-div1, {
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    opacity: 0.8;
    box-shadow: 8px 8px 3px grey;

}
#charity-div2, {
    margin-left: 5px;
    margin-right: 5px;
    background-color: white ;
    opacity: 0.8;
    box-shadow: 5px 5px 5px grey;

}
#charity-div3, {
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    opacity: 0.8;

}

#brand {
    font-family: 'Satisfy', cursive;
    color: white;
}

#d2{
    display: none;
}

#bs-example-navbar-collapse-1{
    float: right;
}

#about {
    color: #EDF4F5;
    font-family: 'Satisfy';
    font-size: 14px;
}

.button {
vertical-align: middle;
text-shadow: 1px 1px 2px grey;
}