body{
    color: white;
    background-color: #EDF4F5;

}

 label {
  color: #789A9F;
  font-family: 'Open Sans', sans-serif;
 }

 a{
    color: white;
      font-family: logo;
  font-size: 9rem;
  text-shadow: 1px 2px 4px #000000;
 }

#user_avatar{
    color: #789A9F;
}

    
#site-title {
    font-family: 'Satisfy', cursive;

}
 
h2{
    text-align: center;
    color: #054950;
      font-family: 'Satisfy', cursive;
    text-shadow: 1px 1px 2px gray;
}
h3 {
  text-align: center;
  color: #054950;
   font-family: 'Satisfy', cursive;
}
h4{
    color: #054950;
    text-shadow: 1px 1px 1px #000000;
}
p{
    color: gray;
    font-family: 'Open Sans', sans-serif;
}
ul{
    min-width: 10px !important;
}
.dropdown{
    background-color: white;
}

.navbar {
    background-color: #054950 !important;
}




#aboutheader{
    color: #054950;
    text-align: center;
    background-position: center;
    padding: 5% 0;
    font-family: 'Satisfy', cursive;
    font-size: 9rem;
    text-shadow: 1px 2px 4px #000000;
}

#about-page{
    text-align: center;
}

#aboutinfo{
    font-size: 20px;
    /*text-align: center;*/
    text-shadow: 1px 1px 1px #000000;
}
#tagline {
  text-align: center;
  color: white;
 font-family: 'Open Sans', sans-serif;


}
.col-lg-1{
     display: block;
  margin-left: auto;
  margin-right: auto;

}

.row.text.center {
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 5%;
}

#charity-div0, {
    
    background-color: white;
    border: black;
    opacity: 0.8;
    box-shadow: 10px 10px 5px gray;
    z-index: 2;
    padding-right: 60px;

}

#cards{
    margin: 0 auto;
    display: block;
    float: none;
}


#image{
    display: block;
    margin-left: auto;
    margin-right: auto 
    
}

#brand {
    font-family: 'Satisfy', cursive;
    color: white;
}

#d2{
    display: none;
}



#bs-example-navbar-collapse-1{
    float: right;
}

#about {
    color: #EDF4F5;
    font-family: 'Satisfy';
    font-size: 14px;
}


.button {
    vertical-align: middle;
    text-shadow: 1px 1px 2px gray;

}

.dropdown-menu {
    position:relative;
    z-index: 10;
}

#five {
    min-width: 70px;
    background-color: gray;
}

#btn-donate{
    border: black;
    float: right;
}

 h1 {
   font-family: 'Satisfy', cursive;

 }

#user-form {
  color: black;
}
 #landing-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(/assets/flowers.jpeg);
  background-size: cover;
  position: relative;
  margin-top: -20px;
}

.header-title {
  text-align: center;
  color: white;
  background-position: center;
  padding: 10% 0;

    font-family: 'Satisfy', cursive;
}

.header-title-hgroup {
  border: 1px solid white;
  border-radius: 25px;
  display: inline-block;
  padding: 0.3em 1em 0.5em 1em;
}



.logo {
  font-family: logo;
  font-size: 9rem;
  text-shadow: 1px 2px 4px #000000;
}

.tag-line {
   font: satisfy;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 1px 2px 2px #000000;
  /*background-color: rgba(192,192,192,0.7);*/
}