body{
	color: white;
	background-color: rgb(103, 103, 103);

}
h2{
	text-align: center;
	color: rgb(209, 88, 33);
}
h3 {
  text-align: center;
}
h4{
	color: black;
}
p{
	color: rgb(103, 103, 103);
}
ul{
	min-width: 10px !important;
}
.dropdown{
	background-color: rgb(204, 0, 0);
}
#btn-donate{
	background-color: rgb(204, 0, 0);

}

#tagline {
  text-align: center;
  color: rgb(255, 153, 0);

}
#charity-div{
	margin-left: 5px;
	margin-right: 5px;
	background-color: white;
	opacity: 0.9;

}
#legend {
  text-align: center;
}

#d2{
	display: none;
}

.button {
vertical-align: middle;
}

