body{
    color: white;
    background-color: #EDF4F5;

}

 label {
  color: #789A9F;
  font-family: 'Open Sans', sans-serif;
 }

 a{
    color: white;
      font-family: logo;
  font-size: 9rem;
  text-shadow: 1px 2px 4px #000000;
 }

#user_avatar{
    color: #789A9F;
}

    
#site-title {
    font-family: 'Satisfy', cursive;

}
 
h2{
    text-align: center;
    color: #054950;
      font-family: 'Satisfy', cursive;
    text-shadow: 1px 1px 2px grey;
}
h3 {
  text-align: center;
  color: #054950;
   font-family: 'Satisfy', cursive;
}
h4{
    color: #054950;
    text-shadow: 1px 1px 1px #000000;
}
p{
    color: gray;
    font-family: 'Open Sans', sans-serif;
}
ul{
    min-width: 10px !important;
}
.dropdown{
    background-color: white;
}

.navbar {
    background-color: #054950 !important;
}

.about-section {
    margin-top: 100px;
}
.about {
    margin-top: 50px;
    margin-bottom: 50px;
}


#aboutheader{
    color: #054950;
    text-align: center;
    background-position: center;
    padding: 5% 0;
    font-family: 'Satisfy', cursive;
    font-size: 9rem;
    text-shadow: 1px 2px 4px #000000;
}

#about-page{
    text-align: center;
}

#aboutinfo{
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}
#tagline {
  text-align: center;
  color: white;
 font-family: 'Open Sans', sans-serif;


}
#charity-div0, {
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    border: black;
    opacity: 0.8;
    box-shadow: 10px 10px 5px grey;

}
#image{
    display: block;
    margin-left: auto;
    margin-right: auto 
    
}
#charity-div1, {
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    opacity: 0.8;
    box-shadow: 8px 8px 3px grey;

}
#charity-div2, {
    margin-left: 5px;
    margin-right: 5px;
    background-color: white ;
    opacity: 0.8;
    box-shadow: 5px 5px 5px grey;

}
#charity-div3, {
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    opacity: 0.8;

}

#brand {
    font-family: 'Satisfy', cursive;
    color: white;
}

#d2{
    display: none;
}

#bs-example-navbar-collapse-1{
    float: right;
}

#about {
    color: #EDF4F5;
    font-family: 'Satisfy';
    font-size: 14px;
}

.button {
    vertical-align: middle;
    text-shadow: 1px 1px 2px grey;

}

.dropdown-menu {
    position:relative;
    z-index: 10;
}

#five {
    min-width: 70px;
    background-color: grey;
}

#btn-donate{
    border: black;
}