<p>
  Donating to your favorite causes should be as easy as a click as a button. Find the best non-profits in your community and help them thrive through GivaLittle's simple donation app. Give back what you can, when you can, one small donation at a time. 
</p>
