<div class="container-fluid about-section animated slideInDown">
 <div class="row">
   <div class="col-md-12">
     <div class="col-md-2"></div>
     <div class="col-md-8 about">
       <h2 class="text-center"><b>GivaLittle</b></h2>
       <p id="about-page">
         Donating to your favorite causes should be as easy as a click as a button. Find the best non-profits in your community and help them thrive through GivaLittle's simple donation app. Give back what you can, when you can, one small donation at a time. 
       </p>
     </div>
     <div class="col-md-2"></div>
   </div> <!-- close col-md-8 col-md-offset-2 -->
 </div> <!-- close .row -->
</div> <!-- close .container-fluid -->
