<button type="button" class="button-default" id="login-button">I'm the button</button>

<div class="container-fluid">
  	<h3>GivaLittle</h2>
  	<p>Give back what you can, when you can, one small donation at a time. </p>  
</div>
<div class="well row">
  <div class="well col-xs-6">Charities</div>
  <div class="well col-xs-6">Donation Amount</div>
</div>
<div class="well row">
  <div class="well col-md-9">
  	<h2>Keen Sf</h2>
  	<h4>Keen San Francisco provides free recreational opportunities to children and young adults with disabilities.</h4>
  </div>
  <div class="btn btn-success" id="d1">DONATE NOW</div>
  <div class="btn btn-primary" hidden id="d2"> $1 $2 $5</div>
</div>

<div class="well row">
  <div class="well col-md-9">
  	<h2> Project Night Night</h2>
  	<h4>Project Night Night delivers packages filled with books, blankets and stuffed animals to homeless children. They donate over 25,000 children's books each year.</h4>
  </div>
  <div class="well col-md-3">DONATE NOW</div>
</div>

<div class="well row">
  <div class="well col-md-9">
  	<h2>Delivering Innovation in Supportive Housing (DISH), A project of the Tides Center</h2>
  	<h4>Dish SF helps adults with physical, mental health and substance abuse issues get into long term housing. They provide custom property management serves to the SF Department of Health's Direct Access to Housing Program and reinforce the self-worth of people who have not had access to clean places to live.</h4>
  </div>
  <div class="well col-md-3" id="">DONATE NOW</div>
</div>

<div class="well row">
  <div class="well col-md-9">
  	<h2> A Good Idea SF</h2>
  	<h4>A Good Idea is a vehicle for positive social change that connects people in need with people who want to help. They build these connections through service, education and technology and form teams of experts to implement proven social change models.</h4>
  </div>
  <div class="well col-md-3">DONATE NOW</div>
</div>

<div class="well row">
  <div class="well col-md-9">
  	<h2>Summer Search </h2>
  	<h4>Summer Search takes resilient low-income high school students and inspires them to become responsible and altruistic leaders by providing year-round mentoring, life-changing summer experiences, college advising and a lasting support network.</h4>
  </div>
  <div class="well col-md-3">DONATE NOW</div>
</div>

<div class="well row">
  <div class="well col-md-9">
  	<h2>SF Child Abuse Prevention Center</h2>
  	<h4>This organization is dedicated to the prevention of child abuse and neglect, the promotion of healthy families and the mental health of children. They offer crisis and intervention programs designed to reduce parental stress, enhance parenting skills and provide comprehensive services for families in need.</h4>
  </div>
  <div class="well col-md-3">DONATE NOW</div>
</div>

<div class="well row">
  <div class="well col-md-9">
  	<h2> Shanti Project </h2>
  	<h4>Shanti enhances the quality of life, health and well-being of people living with life-threatening illnesses.</h4>
  </div>
  <div class="well col-md-3">DONATE NOW</div>
</div>


