<div class="container-fluid">
  	<h3>GivaLittle</h2>
  	<p>Give back what you can, when you can, one small donation at a time. </p>  
</div>
<div class="well row">
  <div class="well col-xs-6">Charities</div>
  <div class="well col-xs-6">Donation Amount</div>
</div>

<%= @charities %>

<% @charities.each do |charity|%>
<div class="well row">
  <div class="well col-md-9">
  	<h2><%= charity.full_name %></h2>
  	<h4><%= charity.description %></h4>
  </div>


  <div class="btn btn-success" id="d1">DONATE NOW</div><hr>
  	<div class="btn-toolbar">
 		<div class="btn-group-primary" hidden id="d2">
   			<button class="btn-btn-primary"> $5</button> 
   			<button class="btn-btn-primary"> $10</button> 
   			<button class="btn-btn-primary"> $15</button>
 		</div>
  </div>
</div>
<% end %>

