<!-- Header & Tagline -->
<div class="container-fluid">
  <div class="header">
    <h2>GivaLittle</h2>
  	<p id="tagline">Give back what you can, when you can, one small donation at a time. </p> 
  </div> 

<hr>
<div class="well row" id="charity-div0">
 <div class="col-xs-8">
   <h4>Keen Sf</h4>
   <p>Keen San Francisco provides free recreational opportunities to children and young adults with disabilities.<p>
 </div>
 <div class="dropdown btn-sm col-xs-4">
<button class="btn btn-warning dropdown-toggle" id="btn-donate" type="button" data-toggle="dropdown">Donate
<span class="caret"></span></button>
<ul class="dropdown-menu">
  <li><a href="#" class="btn" >$5</a></li>
  <li><a href="#" class="btn">$10</a></li>
  <li><a href="#" class="btn">$15</a></li>
</ul>
</div>
</div>


<div class="well row" id="charity-div0">
 <div class="col-xs-8">
   <h4>Keen Sf</h4>
   <p>Keen San Francisco provides free recreational opportunities to children and young adults with disabilities.<p>
 </div>
 <div class="dropdown btn-sm col-xs-4">
<button class="btn btn-warning dropdown-toggle" id="btn-donate" type="button" data-toggle="dropdown">Donate
<span class="caret"></span></button>
<ul class="dropdown-menu">
  <li><a href="#" class="btn" >$5</a></li>
  <li><a href="#" class="btn">$10</a></li>
  <li><a href="#" class="btn">$15</a></li>
</ul>
</div>
</div>
