<!-- Header & Tagline -->
<div class="container">
  <div class="header">
    <h3>GivaLittle</h2>
  	<p id="tagline">Give back what you can, when you can, one small donation at a time. </p> 
  </div> 

<!-- legend -->
<div class="row">
  <div class="col-xs-6" id="legend"><b>Charities</b></div>
  <div class="col-xs-6" id="legend"><b>Donation Amount</b></div>
</div>

<!-- charity div -->
<div class="well row">
  <div class="col-xs-8">
  	<h4>Keen Sf</h4>
    <p>Keen San Francisco provides free recreational opportunities to children and young adults with disabilities.<p>
  </div>
  <div class="btn btn-success btn-sm col-xs-4" id="d1"> DONATE
    <div class="btn-toolbar">
      <div class="btn-group-primary" hidden id="d2">
          <button class="btn-btn-primary"> $5</button> 
          <button class="btn-btn-primary"> $10</button> 
          <button class="btn-btn-primary"> $15</button>
      </div>
    </div>
  </div>
</div>

<!-- charity div -->
<div class="well row">
  <div class="col-xs-8">
    <h4>Keen Sf</h4>
    <p>Keen San Francisco provides free recreational opportunities to children and young adults with disabilities.<p>
  </div>
  <div class="button">
  <div class="btn btn-success btn-sm col-xs-4 vertical-align: middle" id="d1"> DONATE
    <div class="btn-toolbar">
      <div class="btn-group-primary" hidden id="d2">
          <button class="btn-btn-primary"> $5</button> 
          <button class="btn-btn-primary"> $10</button> 
          <button class="btn-btn-primary"> $15</button>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- charity div -->
<div class="well row">
  <div class="col-xs-8">
    <h4>Keen Sf</h4>
    <p>Keen San Francisco provides free recreational opportunities to children and young adults with disabilities.<p>
  </div>
  <div class="btn btn-success btn-sm col-xs-4" id="d1"> DONATE
    <div class="btn-toolbar">
      <div class="btn-group-primary" hidden id="d2">
          <button class="btn-btn-primary"> $5</button> 
          <button class="btn-btn-primary"> $10</button> 
          <button class="btn-btn-primary"> $15</button>
      </div>
    </div>
  </div>
</div>


</div><!-- close containter -->